@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000;
}

#__next {
  position: relative;
  z-index: 2;
  color: white;
}

.dot-bg {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  background: radial-gradient(
    rgba(200, 200, 200, 0.18) 0.8px,
    transparent 0.8px
  );

  background-size: 24px 24px;
}

.glow-bg {
  --radius: 220px;

  position: fixed;
  inset: 0;
  z-index: 1;
  pointer-events: none;

  background: radial-gradient(
    var(--radius) circle at var(--x, 50%) var(--y, 50%),
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 0.06) 35%,
    rgba(0, 0, 0, 0) 70%
  );
}
